html,
body {
  min-height: 100vh;
  /* background-color: #0f0101 !important; */
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.navbar {
  width: 100%;
  min-height: 50px;
  background-color: #712cf9;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

#__next {
  margin-top: 7rem;
}

.ws-form__container .ws-form__input {
  width: 100%;
  height: 60px;
  border-radius: 0;
  font-size: 24px;
  font-weight: 500;
  color: #fafafa;
  transition: ease 500ms;
}
.ws-form__container .ws-form__input:hover {
  border: 1px solid #fafafa;
}
